.card {
  border-radius: 8px;
  margin-top: 8px;
}

.card:hover {
  background-color: rgb(228, 231, 235);
  cursor: pointer;
}

.roomListingError {
  left: 36%;
  bottom: -20px;
}

.selectedRoom {
  background-color: rgb(215, 219, 223);
}

.saveBtn {
  background-color: rgb(9, 9, 138);
  color: white;
  font-weight: 700;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.btnDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
